@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

@section breadcrumb{
    <li><a href="/Product/Index">產品清單</a></li>
}

<h2>Index</h2>


@if (!String.IsNullOrEmpty(Convert.ToString(TempData["ProductsEditDoneMsg"]))) {
    <h3>@TempData["ProductsEditDoneMsg"]</h3>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm()) {

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @{
            var productsX = Model.ToArray();
        }
        @for (var i = 0; i < productsX.Count(); i++) {
            <tr>
                @Html.HiddenFor(x => productsX[i].ProductId)
                <td>
                    @Html.DisplayFor(modelItem => productsX[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => productsX[i].Price)<br/>
                    @Html.ValidationMessageFor(modelItem => productsX[i].Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => productsX[i].Active)
                </td>
                <td>
                    @Html.EditorFor(modelItem => productsX[i].Stock)<br />
                    @Html.ValidationMessageFor(modelItem => productsX[i].Stock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = productsX[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = productsX[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = productsX[i].ProductId })
                </td>
            </tr>
        }
    </table>

    <button class="btn btn-primary">批次更新</button>

}